@{
    ViewData["Title"] = "Home";
}

<h1>Claim value: @(User.Claims.FirstOrDefault() != null ? User.Claims.FirstOrDefault().Value : "nd")</h1>
<h1>Email: @(User.Identity.Name != null ? User.Identity.Name : "nd")</h1>

<a class="btn btn-secondary" asp-action="Logout" asp-controller="Users">Logout</a>